{% extends 'main/base.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-12 col-lg-6 col-md-6">
                <h1 class="display-4">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-8 col-lg-6 col-md-6">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button ty  pe="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid" >
        <div class="row no-gutters">
            <div class="col-12">
                <h2>Операции</h2>
                <ol>
                    {% for expence_item in expence %}
                        <li> {{ expence_item.createdAt()|date('Y.m.d h:m') }} | {{expence_item.title}} | {{expence_item.amount}}</li>
                        <a href="{{ path('expence_update', {'id': expence_item.id }) }}"
                           class="btn-link"> Изменить
                        </a>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <a class="nav-link" href="{{ path('expence_create') }}"> Добавить расход <span class="sr-only">(current)</span></a>

{% endblock %}