<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Главная страница{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/framework/fontawesome-4.7.0/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/framework/bootstrap-4.4.1/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/main/css/style.css') }}">
        {% endblock %}
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('home') }}"> Money </a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('expence_create') }}">Добавить расход <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('expence_list') }}">Расходы <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('statistics') }}">Статистика</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('category_list') }}">Управление категориями</a>
                </li>
            </ul>
            <span class="navbar-text">
        <form class="form-inline">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-light my-2 my-sm-0" type="submit">
                        Выход </a>
            {% else %}
                    <a href="{{ path('user_create') }}" class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit">
                        Регистрация </a>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-light my-2 my-sm-0" type="submit">
                        Вход </a>
            {% endif %}
        </form>
    </span>
        </div>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
            <script src = "{{ asset('assets/framework/bootstrap-4.4.1/js/bootstrap.min.js') }}"></script>

            <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        {% endblock %}

    </body>
</html>
